#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  &.dark {
    background-color: #333;

    svg path:nth-child(1),
    svg path:nth-child(2),
    svg path:nth-child(3),
    svg path:nth-child(4),
    svg path:nth-child(5) {
      fill: #fff;
    }

    aside {
      background-color: #7c7c7c;
    }

    .main-content {
      padding: 0 1rem;
      h2 {
        color: #fff;
      }

      > p {
        color: #fff;
      }
    }
  }

  aside {
    flex: 7;

    background-color: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 7.5rem 5rem;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 2.2rem 'Poppins', sans-serif;
      line-height: 2.625rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1rem;
      color: #f8f8f8;
    }
  }

  main {
    flex: 8;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > svg {
      align-self: center;
    }

    h2 {
      font-size: 1.5rem;
       margin: 4rem 0 1.5rem;
       font-family: 'Poppins', sans-serif;
    }

    form {
      input {
        height: 3.125rem;
        border-radius: 8px;
        padding: 0 1rem;

        background-color: #fff;
        border: 1px solid #a8a8b6;
      }

      button {
        margin-top: 1rem;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: 0.875rem;
      color: #737380;
      margin-top: 1rem;

      a {
        color: #e559f9;
      }
    }

    .toggle-button {
      align-self: flex-end;
      margin: 1rem 0;
    }

  }

  .create-room {
    margin-top: 4rem;
    height: 3.125rem;
    border-radius: 8px;
    font-weight: 500;
    background-color: #ea4335;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter .2s;

    img {
      margin-right: 0.5rem;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 0.875rem;
    color: #a8a8b3;

    margin: 2rem 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background-color: #a8a8b3;
      margin-right: 16px;
    }
    
    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background-color: #a8a8b3;
      margin-left: 1rem;
    }
  }
}

@media(max-width: 860px) {
  html {
    font-size: 93.75%;
  }

  #page-auth {
    flex-direction: column;

    &.dark {
      main {
        background-color: #333;
      }
    }

    main {
      padding-top: 4rem;
    }

    .main-content {
      .create-room {
        margin-top: 2rem;
      }
    }

    aside {
      padding: 5.5rem 3rem;
    }
  }
}