* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #f8f8f8;
  color:#29292e;
}

body, input, button, textarea {
  font: 400 1rem 'Roboto', sans-serif;
}