.question {
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px .75rem rgba(0, 0, 0, .04);
  padding: 1.5rem;

  & + .question {
    margin-top: .5rem;
  }
  
  &.highlighted {
    background-color: #f4f0ff;
    border: 1px solid #835afd;
    
    footer .user-info span {
      color: #29292e;
    }
  }

  &.answered {
    background-color: #dbdcdd;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      span {
        margin-left: .5rem;
        color: #737380;
        font-size: .875rem;
      }
    }

    > div {
      display: flex;
      gap: .5rem;
    }

    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;

      transition: filter .2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: .5rem ;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }
      }

      &:hover {
        filter: brightness(.7);
      }
    }
  }
}