#page-room {
  height: 100%;

  &.dark {
    background-color: #333;
    
    main {
      background-color: #333;
    }

    svg path:nth-child(1),
    svg path:nth-child(2),
    svg path:nth-child(3),
    svg path:nth-child(4),
    svg path:nth-child(5) {
      fill: #fff;
    }

    .room-title h1 {
      color: #fff;
    }

    .form-footer .user-info > span {
      color: #fff;
    }
  }

  header {
    padding: 1.5rem;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
        max-height: 2.81rem;
        max-width: 8rem;
        margin-right: 1rem;
      }

      > div {
        display: flex;
        gap: 1rem;

        button {
          height: 2.5rem;
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5rem 1rem;

    .room-title {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        color: #29292e;
      }

      span {
        margin-left: 1rem;
        background-color: #e559f9;
        border-radius: 9999px;
        padding: .5rem 1rem;
        color: #fff;
        font-weight: 500;
        font-size: .875rem;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 1rem;
        border-radius: 8px;
        background-color: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, .04);
        resize: vertical;
        min-height: 8.125rem;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }

          span {
            margin-left: .5rem;
            color: #29292e;
            font-weight: 500;
            font-size: .875rem;
          }
        }

        > span {
          font-size: .875rem;
          color: #737380;
          font-weight: 500;

          button {
            background-color: transparent;
            border: 0;
            color: #835afd;
            text-decoration: underline;
            font-size: .875rem;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 2rem;
    }
  }
}

.Overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #050206a3;

  .Modal {
    padding: 0 2rem;

    min-height: 20rem;
    min-width: 30rem;
    
    background-color: #fff;
  
    border-radius: 10px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    img {
      margin-bottom: 1.5rem;
    }
    
    h3 {
      font-size: 1.5rem;
      font-family: 'Poppins', sans-serif;
      margin-bottom: .75rem;
      font-weight: 700;
    }
  
    span {
      font-size: 1rem;
      color: #737380;
    }
  
    div {
      margin-top: 2.5rem;
  
      button {
        padding: 1rem 2rem;
        border-radius: 10px;
        border: 0;
        font-weight: 500;
        cursor: pointer;
  
        &:first-child {
          margin-right: .5rem;
        }
  
        &:hover {
          filter: brightness(.9);
        }
      }
  
      .cancel {
        background-color: #DBDCDD;
        color: #737380;    
      }
  
      .delete {
        background-color: #E73F5D;
        color: #fff;
      }
    }
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.75%;
  }

  .content > div {
    flex-direction: column;
  }
}

@media(max-width: 500px) {
    .Modal {
      min-width: 18rem !important;
    }
}

@media(max-width: 400px) {
  html {
    font-size: 68.75%;
  }

  .Modal {
    padding: 0 1rem !important;
  }
}