.room-code {
  height: 2.5rem;
  border-radius: 8px;
  overflow: hidden;

  background-color: #fff;
  border: 1px solid #835afd;
  cursor: pointer;

  display: flex;

  div {
    background-color: #835afd;
    padding: 0 .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 1rem 0 .75rem;
    width: 15rem;
    font-size: .875rem;
    font-weight: 500;
  }

  &:active {
    filter: brightness(.8)
  }
}

@media(max-width: 720px) {
  .room-code {
    span {
      font-size: .7rem;
      overflow-x: scroll;
      width: 100%;
    }
    
    ::-webkit-scrollbar {
      display: none;
    }

    div {
      padding: 0 .4rem;
    }

  }
}